.Body_Background{
    background-image:url("bg1.jpg");
    background-position:center;
    background-size:cover; 
    
}
#myCanvas{
  background-color:white;
  border-style: ridge ;
  border-width:10px;

}
h1{
    color:lightblue;
    font-size:medium;
    font-family: sans-serif;
}